<div class="container-fluid" *ngIf="district">
  <div class="text-center">
    <h1>{{district?.districtName}}</h1> <h5>(Last Updated: {{district?.lastUpdatedDate | date}})</h5>
    <app-stats-counter (statName)="getChart($event)" [stats]="district?.total" isIndia="true"></app-stats-counter>
    <app-chart *ngIf="chartData" [data]="chartData.chartData"></app-chart>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Resources List
          </mat-panel-title>
          <mat-panel-description>
            Important places during the pandemic
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-resources-map *ngIf="district" [stateName] = "stateName" [districtName]="district.districtName"></app-resources-map>
      </mat-expansion-panel>
    </mat-accordion>
    <button type="button" class="m-3 btn btn-info" (click)="goBack()">Go Back</button>
  </div>
</div>
